[submodule "lib/rt64"]
	path = lib/rt64
	url = git@github.com:rt64/rt64.git
[submodule "lib/concurrentqueue"]
	path = lib/concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
[submodule "lib/GamepadMotionHelpers"]
	path = lib/GamepadMotionHelpers
	url = git@github.com:JibbSmart/GamepadMotionHelpers.git
[submodule "lib/RmlUi"]
	path = lib/RmlUi
	url = git@github.com:mikke89/RmlUi.git
[submodule "lib/lunasvg"]
	path = lib/lunasvg
	url = git@github.com:sammycage/lunasvg.git
[submodule "lib/freetype-windows-binaries"]
	path = lib/freetype-windows-binaries
	url = git@github.com:ubawurinna/freetype-windows-binaries.git
